<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartShop</display-name>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>ConUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/emart</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>ExceptionController</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.java.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllCustomerServlet</display-name>
    <servlet-name>AllCustomerServlet</servlet-name>
    <servlet-class>com.java.controller.AllCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCustomerServlet</servlet-name>
    <url-pattern>/AllCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorServlet</display-name>
    <servlet-name>VendorServlet</servlet-name>
    <servlet-class>com.java.controller.AllVendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorServlet</servlet-name>
    <url-pattern>/AllVendorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllAdminServlet</display-name>
    <servlet-name>AllAdminServlet</servlet-name>
    <servlet-class>com.java.controller.AllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllAdminServlet</servlet-name>
    <url-pattern>/AllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>com.java.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.java.controller.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateServlet</display-name>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <servlet-class>com.java.controller.CustomerUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateServlet</servlet-name>
    <url-pattern>/CustomerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDeleteServlet</display-name>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <servlet-class>com.java.controller.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <url-pattern>/CustomerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllOrdersServlet</display-name>
    <servlet-name>ViewAllOrdersServlet</servlet-name>
    <servlet-class>com.java.controller.ViewAllOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllOrdersServlet</servlet-name>
    <url-pattern>/ViewAllOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailsSaveServlet</display-name>
    <servlet-name>OrderDetailsSaveServlet</servlet-name>
    <servlet-class>com.java.controller.OrderDetailsSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsSaveServlet</servlet-name>
    <url-pattern>/OrderDetailsSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryDeleteServlet</display-name>
    <servlet-name>OrderHistoryDeleteServlet</servlet-name>
    <servlet-class>com.java.controller.OrderHistoryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryDeleteServlet</servlet-name>
    <url-pattern>/OrderHistoryDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistorySaveServlet</display-name>
    <servlet-name>OrderHistorySaveServlet</servlet-name>
    <servlet-class>com.java.controller.OrderHistorySaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistorySaveServlet</servlet-name>
    <url-pattern>/OrderHistorySaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUserServlet</display-name>
    <servlet-name>AllUserServlet</servlet-name>
    <servlet-class>com.java.controller.AllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUserServlet</servlet-name>
    <url-pattern>/AllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProfileServlet</display-name>
    <servlet-name>MyProfileServlet</servlet-name>
    <servlet-class>com.java.controller.MyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfileServlet</servlet-name>
    <url-pattern>/MyProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.java.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.java.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.java.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartServlet</display-name>
    <servlet-name>AddtoCartServlet</servlet-name>
    <servlet-class>com.java.controller.AddtoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/AddtoCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.java.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductServlet</display-name>
    <servlet-name>ViewProductServlet</servlet-name>
    <servlet-class>com.java.controller.ViewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductServlet</servlet-name>
    <url-pattern>/ViewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.java.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExceptionController</display-name>
    <servlet-name>ExceptionController</servlet-name>
    <servlet-class>com.java.controller.ExceptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionController</servlet-name>
    <url-pattern>/ExceptionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.java.controller.LoggerInitializer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomerServlet</display-name>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>com.java.controller.RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/RegisterCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidateServlet</display-name>
    <servlet-name>EmailValidateServlet</servlet-name>
    <servlet-class>com.java.controller.EmailValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidateServlet</servlet-name>
    <url-pattern>/EmailValidateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>com.java.controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>